.balloon-container {
    width: 100vw;
    height: 105vh;
    top: 0;
    position: absolute;
    // z-index: 100;
    animation: 60s liftUp ease-in-out;

    @keyframes liftUp {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-106vh);
        }
    }

    .img-balloon {
        position: absolute;
        width: 100px;
        // left: 25vw;
        bottom: 0;
        // filter: hue-rotate(125deg);
        animation: 30s sideToSide linear infinite;

        @keyframes sideToSide {
            0%,
            100% {
                transform: translateX(0) rotate(0);
            }
            25%,
            75% {
                transform: translateX(12px) rotate(5deg);
            }
            50% {
                transform: translateX(-12px) rotate(-5deg);
            }
        }
    }
}
