$color: #707070;

.customize-container {
    height: 100vh;
    width: 100vw;
    z-index: 97;
    position: absolute;
    // background: #0e0c0e;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
    overflow: hidden;

    .customize-top {
        width: 100%;
        height: 50%;
        display: flex;
        svg {
            margin: 0 auto;
            margin-top: -100px;
            // transform: scaleX(80vw);
            rect,
            path {
                transition: 0.5s;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    .customize-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
        margin: 0 auto;
        div {
            transition: 0.5s;
            height: 250px;
            // background: #211c21;
            width: 250px;
            border-radius: 6px;

            h1 {
                font-size: 18px;
            }
            p {
                margin: 0;
                padding: 0 10px;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        .text {
            padding: 0 15px;
        }
    }
    .customize-button {
        position: absolute;
        right: 25px;
        bottom: 25px;
        padding: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: #e1e1e130;
        transition: 1s;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .cancel {
        // color: #707070;
        // background: #211c21;
        // height: 25px;
        // width: 25px;
        // border-radius: 50%;
        transition: 1s;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
            transform: scale(0.9);
        }
    }

    .hidden {
        // width: 0px !important;
        transform: translateY(20vh);
        transition: 1s;
    }

    .color-picker-container {
        position: absolute;
        bottom: 25px;
        left: calc(50% - 625px);
        background: #e1e1e130;
        width: 1250px;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 6px;
        transition: 1s;
        opacity: 1;

        .color-picker {
            cursor: pointer;
            height: 50px;
            width: 150px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: 0.5s;
            .color {
                border-radius: 6px;
                position: absolute;
                border: 0;
                appearance: none;
                background: transparent;
                -webkit-appearance: none;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            input[type="color"]::-webkit-color-swatch {
                border: none;
            }
            label {
                font-size: 12px;
                position: absolute;
                top: 30px;
                cursor: pointer;
                // right: -30px;
            }
            .hex {
                top: 15px;
                font-weight: 700;
            }

            &:hover {
                transform: scale(0.95);
            }
        }

        .dice-roll,
        .copy,
        .home,
        .typography {
            cursor: pointer;
            height: 50px;
            width: 50px;
            background: #211c21;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 6px;
        }

        .typography {
            .font {
                transform: scaleX(1);
                position: absolute;
            }

            .font-cancel {
                transform: scaleX(0);
                position: absolute;
            }

            .rotate-in {
                transition: 0.5s;
                transform: scaleX(0);
            }
            .rotate-out {
                transition: 0.5s;
                transition-delay: 0.2s;
                transform: scaleX(1);
            }
        }
        .typography-container {
            .edit-typography {
                position: absolute;
                width: 200px;
                height: 0;
                right: 75px;
                background: #e1e1e130;
                border-radius: 6px 6px 0 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                label {
                    text-align: left;
                    margin-left: 25px;
                }

                select {
                    width: 75%;
                    margin: 0 auto;
                }
            }
            .show-font {
                transition: 1s;
                height: 100px;
                top: -100px;

                label {
                    opacity: 1;
                    transition: 1s;
                    transition-delay: 0.5s;
                }

                select,
                option {
                    opacity: 1;
                    transition: 1s;
                    transition-delay: 0.5s;
                }
            }
            .hide-font {
                transition: 1s;
                transition-delay: 0.5s;
                height: 0;
                top: 0px;

                label {
                    transition: 1s;
                    opacity: 0;
                }

                select,
                option {
                    // height: 0;
                    opacity: 0 !important;
                    transition: 1s;
                    width: 0;
                }
            }
        }

        .tooltip {
            transition: 0.5s;
            .span-text {
                opacity: 0;
                width: 100px;
                background-color: #161316;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                transition: 0.5s;

                /* Position the tooltip text - see examples below! */
                position: absolute;
                top: -50px;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    background: #161316;
                    transform: rotate(45deg);
                    bottom: -5px;
                    left: 38px;
                    z-index: -1;
                }

                &:nth-child(1) {
                    top: -30px;
                }
            }
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover {
            transform: scale(0.95);
            .span-text {
                opacity: 1;
            }
        }

        .dice-roll {
            svg {
                transition: 1s;
            }

            &:active {
                svg {
                    transform: rotate(135deg);
                }
            }
        }

        .copy {
            svg {
                transition: 1s;
            }
            &:active {
                svg {
                    transform: scale(0.85);
                }
            }
        }
    }
}
