.day {
    color: black;
}

.night {
    color: white;
}
.messaging-container {
    .wayfinder-container {
        z-index: 100;

        div {
            font-size: 150px;
            position: absolute;
            top: calc(50% - 100px);
            cursor: pointer;
            z-index: 100;
        }
        .right,
        .left {
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                opacity: 0.7;
                transform: scale(0.97);
            }
            &:active {
                opacity: 0.5;
                transform: scale(0.9);
            }
        }

        .left {
            left: -10px;
        }
        .right {
            position: absolute;
            right: -10px;
        }
    }

    .messaging {
        z-index: 11;
        position: absolute;
        width: 50vw;
        height: 25%;
        top: 37%;
        left: 25%;
        display: flex;

        align-items: center;
        flex-direction: column;
        z-index: 100;

        cursor: default;
        h1 {
            pointer-events: none;
            font-size: 100px;
            font-family: Augillion;
            font-weight: 500;
            margin: 0;
            // position: absolute;
            // top: 40%;
            // left: 35%;
            animation: 0.5s onload linear;
            white-space: nowrap;
            // transition: 0.5s;
        }
        .sub-header {
            text-align: left;
            pointer-events: none;
            h2 {
                margin: 0;
                white-space: nowrap;
                animation: 0.5s onload linear;
            }
        }

        @keyframes onload {
            from {
                opacity: 0;
                // transform: scale(0.95);
            }
            to {
                opacity: 1;
                // transform: scale(1);
            }
        }
    }
    .codepen {
        animation: 0.5s codepen-fade linear;
        img {
            width: 150px;
            filter: grayscale(1) invert(1);
            transition: 1s;

            &:hover {
                transform: scale(0.97);
                opacity: 0.6;
                mix-blend-mode: multiply;
            }

            &:active {
                opacity: 0.3;
                transform: scale(0.9);
            }
        }

        @keyframes codepen-fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .mobile-swipe {
        display: none;
    }

    .contact,
    .mobile-contact {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        bottom: 32%;
        left: 30%;
        height: 50px;
        img {
            height: 50px;
            width: 50px;
            transition: 0.5s;
            cursor: pointer;
            &:nth-child(2) {
                height: 40px;
                width: 45px;
            }

            &:hover {
                transform: scale(0.97);
                opacity: 0.6;
                mix-blend-mode: multiply;
            }

            &:active {
                opacity: 0.3;
                transform: scale(0.9);
            }
        }
    }

    .mobile-contact {
        display: none;
    }

    @media (max-width: 1366px) {
        .messaging {
            top: 39.5%;

            .sub-header {
                margin-top: -15px;
            }
        }
    }

    @media (max-width: 1200px) {
        .messaging {
            h1 {
                font-size: 84px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
    @media (max-width: 1050px) {
        .messaging {
            h1 {
                font-size: 72px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 440px) {
        .messaging {
            top: 37%;
            .sub-header {
                h2 {
                    animation: none;
                }
            }
        }
        // display: none;
        .mobile-swipe {
            margin-top: 25px;
            display: block;
        }
        .wayfinder-container {
            display: none;
        }
        .contact {
            display: none;
        }
        .mobile-contact {
            display: flex;
            width: 100%;
        }
    }

    @media (max-width: 375px) {
        .messaging {
            h1 {
                font-size: 68px;
            }
            .sub-header {
                margin-top: -10px;
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
}

.bnw {
    .messaging {
        h1 {
            color: black;
        }

        .sub-header {
            h2 {
                color: black;
            }
        }
    }
    img {
        filter: grayscale(1) !important;
    }

    .left,
    .right {
        filter: grayscale(1) invert(1);
    }
}
