.work-container {
    background: #501537;
    background: url("../../Assets/Images/waves.svg");
    background-size: cover;

    .background {
        height: 100vh;
        width: 100vw;
    }
    .mobile {
        display: none;
    }

    .mobile-message {
        display: none;
    }
    @media (max-width: 440px) {
    }
}
