.animation {
    width: 100vw;
    height: 100vh;
    background: skyblue;
    z-index: 105;
    position: absolute;

    .hello {
        display: none;
    }
    * {
        display: none;
    }
}

.animation-container {
    z-index: 105;
    background: skyblue;
    width: 100vw;
    height: 100vh;
    position: absolute;

    .hello {
        text-align: left;
        left: 15px;
        .h1 {
            position: absolute;
            width: 200px;
            height: 100px;
            overflow: hidden;
            top: 30%;
            left: 5%;
            animation: 3s welcomeFade linear;
            transform: translateY(100vh);

            @keyframes welcomeFade {
                0% {
                    height: 10px;
                    transform: translateX(25px) rotate(0);
                    opacity: 0;
                }
                18% {
                    opacity: 1;
                }
                20% {
                    height: 100px;
                    transform: translateX(0px) rotate(0);
                }
                60% {
                    transform: translateX(0px) rotate(0);
                }
                70% {
                    transform: translateX(0px) rotate(-95deg);
                }
                75% {
                    transform: translateX(0px) rotate(-85deg);
                }
                80% {
                    transform: translateX(0px) rotate(-90deg);
                    opacity: 1;
                }
                100% {
                    transform: translateY(70vh) translateX(25px) rotate(-100deg);
                    opacity: 0;
                }
            }
            h1 {
                font-size: 100px;
                font-family: Augillion;
                font-weight: 500;
                margin: 0;
                animation: 4s rotate linear;
            }
        }
        .h2 {
            position: absolute;
            width: 500px;
            height: 100px;
            overflow: hidden;
            top: 42%;
            left: 5%;
            animation: 0.55s welcomeFade2 linear;

            @keyframes welcomeFade2 {
                0% {
                    height: 10px;
                    transform: translateX(25px);
                    opacity: 0;
                }

                50% {
                }
                85% {
                    opacity: 1;
                }
                100% {
                    height: 100px;
                    transform: translateX(0px);
                }
            }

            h2 {
                font-size: 100px;
                font-family: Augillion;
                font-weight: 500;
                margin: 0;
                animation: 1.5s dropOut ease-in-out;
                transform: translateY(100px);

                @keyframes dropOut {
                    0% {
                        transform: translateY(0);
                    }
                    70% {
                        transform: translateY(0);
                    }
                    80% {
                        transform: translateY(-10px);
                    }
                    85% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(100px);
                    }
                }
            }
        }
    }

    .rocket {
        height: 200px;
        width: 150px;
        position: absolute;
        right: 50px;
        bottom: -20vh;

        animation: 3s rocket linear;
        animation-delay: 5.5s;

        @keyframes rocket {
            0% {
                transform: translateY(0);
            }

            to {
                transform: translateY(-120vh);
            }
        }
    }

    .space-background {
        height: 100vh;
        width: 100vw;
        background: url("../../Assets/Images/spacebackground.png");
        position: absolute;
        animation: 12s spaceBackground ease-out;
        opacity: 0;

        @keyframes spaceBackground {
            0% {
                // transform: translateY(100vh);
                opacity: 0;
            }
            25% {
                // transform: translateY(100vh);
                opacity: 0;
            }
            50% {
                // transform: translateY(0vh);
                opacity: 1;
                transform: translateX(0);
            }
            90% {
                transform: translateX(0);
            }
            100% {
                opacity: 1;
                transform: translateX(-100vw);
            }
        }

        .space-text-wrapper {
            animation: 5.1s space-text linear;
            @keyframes space-text {
                0% {
                    opacity: 0;
                }
                99% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            p {
                animation: 3.5s typing steps(38);
                font-family: monospace;
                white-space: nowrap;
                overflow: hidden;
                width: 38ch;
                animation-delay: 5s;
                font-size: 40px;
                position: absolute;
                bottom: 25px;
                font-weight: 600;
                left: calc(50vw - 38ch / 2);

                @keyframes typing {
                    from {
                        width: 0;
                    }
                }
            }
        }
        .cloud {
            width: 250px;
            opacity: 0.5;
            position: absolute;
            bottom: 100px;
            animation: 20s cloud linear;

            @keyframes cloud {
                from {
                    transform: translateX(50vw);
                }
                to {
                    transform: translateX(0vw);
                }
            }
        }
    }

    .variety {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background: #805e73;
        animation: 19s variety linear;
        transform: translateY(100vh);
        opacity: 1;

        @keyframes variety {
            0% {
                opacity: 0;
                transform: translateY(00vh);
            }
            30% {
                opacity: 0;
            }
            35% {
                transform: translateY(0vh);
                opacity: 1;
            }
            95% {
                opacity: 1;
                transform: translateY(0vh);
            }
            100% {
                opacity: 1;
                transform: translateY(100vh);
            }
        }

        p {
            // font-family: Augillion;
            font-size: 40px;
            position: absolute;
            bottom: 0;
            width: 50ch;
            left: calc(50vw - 25ch);
            animation: 14s varietyText linear;

            @keyframes varietyText {
                0% {
                    // transform: scale(0);
                    opacity: 0;
                    transform: translateY(-5px);
                }
                80% {
                    // transform: scale(0);
                    opacity: 0;
                    transform: translateY(-5px);
                }
                100% {
                    opacity: 1;
                    // transform: scale(1);
                }
            }
        }

        .windows {
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            .window {
                height: 400px;
                width: 400px;

                &:nth-child(1) {
                    animation: 15.5s window1 linear;

                    @keyframes window1 {
                        0% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        95% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        97% {
                            transform: scale(1.1);
                        }
                        99% {
                            transform: scale(0.9);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }

                &:nth-child(2) {
                    animation: 15s window2 linear;

                    @keyframes window2 {
                        0% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        95% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        97% {
                            transform: scale(1.1);
                        }
                        99% {
                            transform: scale(0.9);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
                &:nth-child(3) {
                    animation: 16s window3 linear;

                    @keyframes window3 {
                        0% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        95% {
                            opacity: 0;
                            transform: scale(0.5);
                        }
                        97% {
                            transform: scale(1.1);
                        }
                        99% {
                            transform: scale(0.9);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    .work {
        p {
            font-family: Augillion;
            font-size: 50px;
            color: skyblue;
            top: 40%;
            left: calc(50vw - 11ch);
            position: absolute;
        }

        .work-background {
            height: 100vh;
            width: 100vw;
            background: rgb(64, 151, 64);
            position: absolute;
            animation: 25s workBackground linear;

            @keyframes workBackground {
                0% {
                    transform: translateY(-100vh);
                }
                90% {
                    transform: translateY(-100vh);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
    }
}
