@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.wave-container {
    height: 100%;
    width: 100%;
    background: #3586ff;
    overflow: hidden;
    z-index: 100;
    border-radius: 15px;
    margin: 0 10px;
    position: relative;
    transition: 5s;

    .title {
        font-family: "Righteous", cursive;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .sub-header {
        font-family: "Righteous", cursive;
        // position: absolute;
        width: 50%;
        margin: 0 auto;
        margin-top: 45%;

        span {
            color: #5a3bb0;
            mix-blend-mode: multiply;
            letter-spacing: 1px;
        }
    }

    @keyframes dyebackground {
        from {
            filter: hue-rotate(0deg) brightness(0.8);
        }
        to {
            filter: hue-rotate(360deg) brightness(0.8);
        }
    }

    .air {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
        background-size: 1000px 100px;
        transform: scaleY(1);
    }
    .air.air1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
    }
    .air.air2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        background-position-x: 0px;
    }
    .air.air3 {
        z-index: 998;
        opacity: 0.2;
        bottom: 15px;
        background-position-x: 0px;
    }
    .air.air4 {
        z-index: 997;
        opacity: 0.7;
        bottom: 20px;
        background-position-x: 0px;
    }

    @keyframes wave {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: 1000px;
        }
    }
    @keyframes wave2 {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: -1000px;
        }
    }
    &:hover {
        animation: 120s dyebackground linear infinite;

        .air.air1 {
            animation: wave 35s linear infinite;
            animation-delay: 0s;
        }

        .air.air2 {
            animation: wave2 20s linear infinite;
            animation-delay: -5s;
        }

        .air.air3 {
            animation: wave 35s linear infinite;
            animation-delay: -2s;
        }

        .air.air4 {
            animation: wave2 10s linear infinite;
            animation-delay: -5s;
        }
    }
}
