.navigation-container {
    height: 40px;
    position: absolute;
    top: 0;
    width: 100vw;

    // background: pink;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    animation: 0.5s bumpdown ease-in-out;

    @keyframes bumpdown {
        0% {
            transform: translateY(-100%);
        }
        90% {
            transform: translateY(5%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .navigation-subcontainer {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 100px;
        .colorwheel {
            // filter: brightness(100);
            width: 25px;
        }
        .popup {
            display: flex;
            flex-direction: row;
            div {
                transform: scaleY(75%);
                cursor: pointer;
            }
            input {
                width: 75px !important;
            }
        }
    }
}
