$bgcolor: #001e3c;

.App {
    text-align: center;
    /* background: #282c34; */
    /* background: white; */
    height: 100vh;
    width: 100vw;
    // --ggs: 6;
    position: relative;

    background: $bgcolor;

    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .move-left {
        left: -100vw;
        transition: 1s;
    }

    // .overlay {
    //     width: 100vw;
    //     height: 100vh;
    //     position: absolute;
    //     z-index: 2;
    //     background: radial-gradient(
    //         circle,
    //         transparent 0%,
    //         transparentize($bgcolor, 0.15) 100%
    //     );
    // }
}
